:root {
    --trim-col: #4F4F4F;
    --main-col: #00daea;
    --border-rad: 10px;
    --border-w: 5px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    background-image: url(../mainBackground.jpg);
    background-size:cover;
}

header {
    display: flex;
    padding: 0px 20px 0px;
    background-color: var(--trim-col);
    border-radius: var(--border-rad);
}

header h1 {
    justify-self: flex-start;
    padding: 5px;
    color: var(--trim-col);
    background-color: var(--main-col);
    border-radius: var(--border-rad);
    font-size: 4rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--trim-col);
    border-radius: var(--border-rad);
}

nav a {
    padding: 10px;
    color: var(--trim-col);
    background-color: var(--main-col);
    border-radius: var(--border-rad);
    font-weight: bold;
}

nav a:hover {
    opacity: 0.7;
}

p {
    flex: 0 1 70%;
    align-self: right;
    padding-left: 10px;
    font-size: large;
}

.section-header {
    flex: 0 1 25%;
    padding-left: 40px;
    color: var(--trim-col);
    border: 0px;
    border-style: solid;
    border-color: var(--trim-col);
    border-right: var(--border-w);
    font-size: 3rem;
}

#about-me {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
    background-color: white;
    border-style: solid;
    border-color: var(--trim-col);
    border-width: var(--border-w);
    border-radius: var(--border-rad);
}

#about-me a {
    width: 10%;
}

#about-me a img {
    width: 100%;
    padding: 20px;
}

#about-me a img:hover {
    opacity: 0.7;
}

#my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
    background-color: white;
    border-style: solid;
    border-color: var(--trim-col);
    border-width: var(--border-w);
    border-radius: var(--border-rad);
}

#sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.work-link img {
    margin: 1%;
    width: 40%;
    color: var(--main-col);
    border-style: solid;
    border-color: var(--trim-col);
    border-width: var(--border-w);
    border-radius: var(--border-rad);
}

.work-link a {
    position: relative;
}

.work-link h3 {
    position: absolute;
    bottom: 50%;
    left: 5%;
    padding: 2%;
    color: var(--trim-col);
    background-color: var(--main-col);
    border-style: solid;
    border-color: var(--trim-col);
    border-width: var(--border-w);
    border-radius: var(--border-rad);
}

.work-link img:hover {
    opacity: 0.7;
}

#first-project img {
    margin: 1%;
    width: 70%;
    color: var(--main-col);
    border-style: solid;
    border-color: var(--trim-col);
    border-width: var(--border-w);
    border-radius: var(--border-rad);
}

#first-project a {
    position: relative;
}

#first-project h3 {
    position: absolute;
    bottom: 50%;
    left: 5%;
    padding: 2%;
    color: var(--trim-col);
    background-color: var(--main-col);
    border-style: solid;
    border-color: var(--trim-col);
    border-width: var(--border-w);
    border-radius: var(--border-rad);
}

#first-project img:hover {
    opacity: 0.7;
}

#contact {
    margin: 20px;
    background-color: white;
    border-style: solid;
    border-color: var(--trim-col);
    border-width: var(--border-w);
    border-radius: var(--border-rad);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}

.links a {
    flex: 0 1 5%;
    padding: 10px;
    color: var(--main-col);
    background-color: var(--trim-col);
    border-radius: var(--border-rad);
    text-align: center;
}

.links a:hover {
    opacity: 0.7;
}