:root {
    --trim-col: #4F4F4F;
    --main-col: #00daea;
    --border-rad: 10px;
    --border-w: 5px;
}

body {
    background-image: url(../mainBackground.jpg);
    background-size:cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    padding: 0px 20px 0px;
    background-color: var(--trim-col);
    border-radius: var(--border-rad);
}

header h1 {
    justify-self: flex-start;
    padding: 5px;
    color: var(--trim-col);
    background-color: var(--main-col);
    border-radius: var(--border-rad);
    font-size: 48pt;
}

nav ul {
    justify-self: flex-end;
    list-style: none;
}

nav ul li a {
    display: inline-flex;
    justify-self: flex-end;
    color: var(--main-col);
}

.subtitle {
    border-radius: var(--border-rad);
    width: 50%;
    background-color: var(--main-col);
    color: var(--trim-col);
    text-align: center;
}

p {
    flex: 0 1 1000px;
    align-self: right;
    padding-left: 10px;
    /* border: 0px;
    border-left: var(--border-w);
    border-style: solid;
    border-color: var(--trim-col); */
    font-size: large;
}

.section-header {
    flex: 0 1 25%;
    color: var(--trim-col);
    font-size: 36pt;
    padding-left: 40px;
    border: 0px;
    border-right: var(--border-w);
    border-style: solid;
    border-color: var(--trim-col);
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
    background-color: white;
    border-style: solid;
    border-width: var(--border-w);
    border-color: var(--trim-col);
    border-radius: var(--border-rad);
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
    background-color: white;
    border-style: solid;
    border-width: var(--border-w);
    border-color: var(--trim-col);
    border-radius: var(--border-rad);
}

/* .work-link {
    flex: 0 1 50%;
    align-content: column;
    border-color: var(--trim-col);
    border-style: solid;
    border-width: var(--border-w);
    border-radius: var(--border-rad);
    margin-left: 20px;
} */

.work-link img {
    flex: 0 1 50%;
    border-color: var(--trim-col);
    border-style: solid;
    border-width: var(--border-w);
    border-radius: var(--border-rad);
    margin: 1%;
    color: var(--main-col);
    width: 40%;
}

/* .work-link a {
    font-size: large;
    background-color: var(--main-col);
    color: var(--trim-col);
    border-radius: var(--border-rad);
} */

.work-link a {
    position: relative;
}

.work-link h3 {
    position: absolute;
    bottom: 15px;
    left: 5%;
    background-color: var(--main-col);
    color: var(--trim-col);
    padding: 10px;
    border-color: var(--trim-col);
    border-style: solid;
    border-width: var(--border-w);
    border-radius: var(--border-rad);
}